body {
    font-family: sans-serif;
}

h1 {
    font-family: Titan One, sans-serif;
    text-align: center;
}

body {
    background-color: black;
    color: white;
}
  
.light-mode {
    background-color: white;
    color: black;
}