body {
    font-family: sans-serif;
    background-color: #141516;
    color: white;
}

h1 {
    font-family: Titan One, sans-serif;
    text-align: center;
}

.about-btn{
    display: inline-block;
    padding: 12px 50px;
    color: #d55e95;
    border: 2px solid #d55e95;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
    text-decoration: none;
  }
  
  .about-btn:hover{
    background: #d55e95;
    color: #f2f2f2;
  }