body {
  background: #202020;
}

#page {
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

#content {
  text-align: center;
}

h1 {
  font-family: 'Titan One', sans-serif;
  font-size: 3rem;
  font-weight: 500;
}

p {
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
}

a {
  color: #eee;
}

a:hover {
  text-decoration: none;
}