html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.row {
    display: flex;
    justify-content: space-between;
}
.square {
    height: 0;
}
.square-25 {
    width: 25%;
    padding-bottom: 25%;
}
.square-33 {
    width: 33.333333%;
    padding-bottom: 33.333333%;
}
.square-50 {
    width: 50%;
    padding-bottom: 50%;
}
.square-100 {
    width: 100%;
    padding-bottom: 100%;
}
.square {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: #eee;
    margin-top: 10px;
}
.grid {
    display: block;
    padding: 0;
    margin: 0 -6px 12px;
    text-align: left;
    font-size: 0;
}
.grid-cell {
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    text-align: left;
    vertical-align: top;
    width: 100%;
    font-size: 16px;
}
.grid-25 {
    width: 25%;
}
.grid-33 {
    width: 33.333333%;
}
.grid-50 {
    width: 50%;
}
body {
    background: #141516;
    padding: 5%;
    font-size: 0;
    font-family: sans-serif;
}
.square {
    overflow: hidden;
    border-radius: 8px;
    background-size: cover;
    box-shadow: 0 3px 12px rgba(20, 21, 22, .9);
}
.one {
    background-image: url(Marvel_Logo.png);
}
.two {
    background-image: url(https://i.ebayimg.com/images/g/-EAAAOSw-3FZDk62/s-l400.jpg);
}
.three {
    background-image: url(Erebos_2.png);
}

.title h1 {
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, .6);
    background: linear-gradient(rgba(20, 21, 22, 0), rgba(20, 21, 22, .8));
    margin: 0;
    padding: 36px 12px 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}
